*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.nav1{

    height: 80px;
    width: 100%;

    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdCqrZoO73Rrf_UiH6dfwD5Qg44lMrh7a9kg&s") ;
    box-shadow: 0.8px 0.8px 0.8px 0.8px gray;
    position: fixed;
    z-index: 999;
}

.logo{
    height: 25px;
    width: 10%;
    /* border: 1px solid black; */
}

.search{
    
    height: 32px;
    width: 90%;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 15px;
    padding-left:35px;
        
}
#icon{

    position: relative;
    left: 35px;
    top: 7px;  
    color: rgb(89, 89, 89) ;
      
}
::placeholder{

    font-size: 15px;
}

.search2{
    height: 30px;
    width: 50%;

    /* border: 1px solid black; */
}
.icon2{
    height: 20px;
    width: 4%;
    color: rgb(89, 89, 89) ;
    /* border: 1px solid black; */
    margin-bottom: 10px;
    margin-left: 30px;    
    }
.wrapper{
    height:900px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
justify-content: center;
position: relative;
top: 50px;
}
.wrapper2{
    height: 900px;
    width: 80%;
    /* border: 1px solid black; */
    padding-left: 20px;
    display: flex;
    
}
.mainimg{
    height: 900px;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.text{
        
        height: 900px;
        width: 50%;
        /* border: 1px solid black; */
        padding: 10px;

}
.btn5{


height: 45px;
 width: 55%;
  margin-top: 9px;
   background-color:rgb(152, 53, 219);
    color: white; 
    font-weight: 800;
    font-size: 13px;
}
.image{
    height: 850px;
    width: 100%;
    /* border: 1px solid black; */
}
.txt2{
   margin-top: 100px;
    height:130px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
    

}
.txt3{
    height: 685px;
    width: 100%;
    /* border: 1px solid black; */
    text-align: center; 
}
::placeholder{
    font-size: 15px;
    padding: 8px;
    color: black;

}

.footer1{
    height: 420px;
    width: 100%;
    border: 0.1px solid rgb(246, 238, 238);
    position: relative;
    top: 51px;
    background-color: rgb(82, 81, 81);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer2{
    height: 70px;
    width: 100%;
    color: white;
    border: 0.1px solid rgb(246, 238, 238);
    padding: 15px;
    padding-left: 30px;
    background-color: rgb(90, 88, 88);
    display: flex;
    gap: 5%;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;

}

.footer3{
    height: 220px;
    width: 100%;
    /* border: 1px solid rgb(158, 5, 31); */
    padding:30px;
    padding-left: 20px;
    display: flex;
    color: white;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.btn2{
    height: 10%;
    width:  6.2%;
    border: 1px solid white;
    padding: 5px;
    position: absolute;
    left: 88.5%;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.footer4{
    font-size: 11px;
    position: absolute;
    left: 88.5%;
    top: 85%;
    height: 9%;
    width: 6.5%;
    border: 1px solid rgb(243, 240, 240);
    display: flex;  
    align-items: center;
    justify-content: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer5{
    height: 100px;
    width: 100px;
    position: relative;
  bottom: -200px;
    left:-43%;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.paddi{
    padding-bottom: 7px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#hame{
    display: none;
}
@media(width<=768px){
    .logo3{
        display: none;
    }
    .box6{
        display: none;
    }
    .box7{
        display: none;
    }
    .dn{
        display: none;
    }
    
    .footertxt2{
        /* display: none; */
        padding: 0px;
        gap: 10px;
    }
    .btn2{
        display: none;
    }
    .secti{
        display: none;
    }
    .secti2{
        display: none;
    }
    .search2{
        display: none;
    }
    .icon2{
        display: none;
    }
    .logo{
        height: 50px; 
        width: 20%;
    }
    .txt6{
        width: 60%;
        margin-left: 10px;
    }
    #hame{
        margin-left: 20px;
        display: block;
    }
    .footer3{
        flex-direction:column ;
    }
    .footer1{
        height: 800px;
        
    }
    .img{
        width: 100%;
        height: 200px;
    }
    
    .txt{
        height: 120px;
        width: 50%;
        position: relative;
        padding: 0px;
        top: -180px;
        left: 20px;
    }
    .main{
        height: 270px;
    }
    .txt1{
        height: 170px;
    }
    .txt3{
        height: 50px;
    
    }
    .txt2{
        height: 200px;
        padding:0px ;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 0PX;
    }
    .font{
        font-size: 11px;
    }
    .font1{
        width: 150px;
        font-size: 10px;
    }
    .childtxt{
        width: 100%;
      height: 60px;
    }
    .font2{
        height: 110px;
        width: 150px;
    }
    .txt4{
        width: 100%;
    }
    .widt2{
        width: 150px;
        font-size: 10px;
    }
    .none3{
        display: none;
    }
    .box{
        height: 300px;
    }
    .width1{
        width: 100%;
    }
    .box1{
        height: 300px;
        display: flex;
        flex-direction: column;
    }
    .fontwi{
        width: 100%;
    }
    .box2{
    width: 50%;
    }
    .box3{
    width: 50%;
    }
    .box4{
    width: 50%;
    }
    .box5{
    width: 50%;
    }
    .box6{
    width: 50%;
    }
    .box7{
     width: 50%;   
    }
    .child{
        display: flex;
        flex-direction: column;
        height: 500px;
        margin-top:200px ;
    }
    .box{
        height: 300px;
    }
    .img1{
        width: 90%;
        
      
    }
    
    .main1{
        height: 900px;
        
        margin-left: 15px;
    }
    .fonts{
        font-size: 10px;
        height: 50px;
    }
    .footer4{
        width: 120px;
        position: absolute;
        left: 60.5%;
        top: 85%;
        height: 6%;
       
    }
    .footer5{
        height: 100px;
        width: 100px;
        position: relative;
      bottom: -90px;
        left:0%;}
    .image{
        margin-top: 30px;
        width: 60%;
    }
    }
    
    @media(width<=1024px){
        .btn2{
            width: 7%;
        }
        .logo2{
            display: none;
        }
        .footer2{
            font-size: 1px;
        }
        .img1{
            height: 420px;
             width: 40%;   
        }
        .img2{
            display: none;
        }
        .main1{
            height: 420px;
           
        }
        .child{
            height:420px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .box2{
            border-radius:20px;
            width: 20%;
            font-size: 3px;
            font-weight: 100;
            text-align: center;
        }
        .box3{
            border-radius:20px;
            width: 20%;
            font-size: 3px;
            text-align: center;
        }
        .box4{
            border-radius:20px;
            width: 20%;
            font-size: 3px;
            text-align: center;
        }
        .box5{
            border-radius:20px;
            width: 20%;
            font-size: 3px;
            text-align: center;
        }
        .box6{
            border-radius:20px;
            width: 20%;
            font-size: 3px;
            text-align: center;
        }
        .box7{
         display: none;
        }
        .txt1{
          height: 120px;  
        }
        .txt5{
            font-size: 13px;
        }
        .font1{
            font-size: 15px;
        }
        .font2{
            font-size: 15px;
        }
       .childtxt{
        font-size: 20px;
        }
        .childtxt2{
            font-size: 10px;
        }
        .main{
            height: 450px;
        }
        
        
      .child_logo{
        margin: 0;
      }
       
        .logo1{
           padding: 0;
        }
       
    
        .search{
            display: none;
        }
        .search2{
            width: 30%;
        }
        
        #icon{
            display: none;
        }
        .secti{
            width: 18%;
        }
        .secti2{
            width: 15%;
        }
        .icon2{
            width: 6%;
        }
        .img{
            width: 80%;
            margin-top: 30px;
            height: 350px;
        }
        .mainimg{
            width: 100%;
            
        }
        .wrapper2{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 350px;
            padding: 0px;
        }
        .image{
            height: 350px;
        }
        .txt2{
            margin: 0px;
        }
        .text{
            height: 100vh;
            width: 100%;
        }
        .wrapper{
            height: 100vh;
        }
    }